# Appwrite Project
# Create a free project at: https://cloud.appwrite.io
#
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
EXPO_PUBLIC_APPWRITE_RECEIPT_AI_FUNCTION_ID=YOUR_RECEIPT_AI_FUNCTION_ID
